@CHARSET "UTF-8";

.jspace-community-tree ul{
	margin:0px;
}
.jspace-community-tree li{
	margin:0px;
	padding-left:15px;
}
.jspace-community-tree li a{
	display:block;
	padding:5px;
}
.jspace-community-tree-root {
    margin-top: 30px;
    list-style-type: none;
}
.jspace-community-tree-node {
    list-style-type: none; 
}

.jspace-community {
    font-size: 14pt;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.jspace-collection {
    font-size: 80%;
    margin: 10px 0;
}

.jspace-items, 
.jspace-results {
	overflow: hidden;
	padding: 10px 0;
	width: 100%;
}

.jspace-title {
    font-size: 130%;
    line-height: 120%;
}

.jspace-thumbnail {
	width: 75px; 
	height: 75px; 
	float: left;
	padding-right: 6px;
	padding-top: 2px;
}

.jspace-thumbnail img,
.jspace-array-thumbnails li img {
	width: 100%;
	height: 100%;
}

.jspace-array-thumbnails {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.jspace-array-thumbnails li {
	width: 75px; 
	height: 75px; 
	float: left;
	list-style: none;
	padding-right: 5px;
}

.jspace-item {
	overflow: hidden;
	padding: 5px 0;
}

.jspace-item .dc-element-name {
	font-weight: bold;
	float: left; 
	width: 20%;
}

.jspace-item .dc-element-value {
	float: left;
	width: 80%;
}

.jspace-bitstreams {
	margin: 20px 0;	
}

.jspace-bitstream {
	overflow: hidden;
	margin: 25px 0;
	clear: right;
}

.jspace-bitstream-thumbnail {
	float: left;
	width: 20%;
	text-align: right !important;
}

.jspace-bitstream-thumbnail img {
	padding-right: 10px;	
}

#jspaceBitstreams .jspace-bitstream-details {
    margin: 0;
    padding: 0;	
}

#jspaceBitstreams .jspace-bitstream-details li {
	list-style: none;
	line-height: 130%;
}

#jspaceBitstreams .jspace-file-name {
    font-size: 130%;
}

#jspaceBitstreams .jspace-file-size {
	margin: 1px 0;
}

#jspaceBitstreams .jspace-file-type {
	margin: 1px 0;
}

#jspaceBitstreams .jspace-preview, #jspaceBitstreams .jspace-download {
     padding: 0 0 0 16px;
     margin: 1px 0;	
} 

#jspaceBitstreams .jspace-preview {
     background: url("../../../media/com_jspace/images/icon-16-preview.png") no-repeat scroll 0 bottom transparent;
}

#jspaceBitstreams .jspace-preview:hover {
	background: url("../../../media/com_jspace/images/icon-16-preview.png") no-repeat scroll 0 top transparent;
}

#jspaceBitstreams .pdf-preview {
	margin: 1cm;
	font-size: 110%;	
}

#jspaceBitstreams .jspace-download {
	background: url("../../../media/com_jspace/images/icon-16-download.png") no-repeat scroll 0 bottom transparent;
}

#jspaceBitstreams .jspace-download:hover {
	background: url("../../../media/com_jspace/images/icon-16-download.png") no-repeat scroll 0 top transparent;
}



/* Categories */
ul.jspace-items,
ul.jspace-categories{
	list-style-type: none;
}

ul.jspace-categories li{
}
ul.jspace-items li a,
ul.jspace-categories li a{
	background: transparent url(../images/folder.png) left center no-repeat;
	display: block;
	min-height: 32px;
	line-height: 32px;
	padding: 3px 3px 3px 36px;
	color: #444;
}

ul.jspace-items li:nth-child(2n+1) a,
ul.jspace-categories li:nth-child(2n+1) a{
	background-color: rgba(244,244,244,0.5);
}
ul.jspace-items li:nth-child(2n) a,
ul.jspace-categories li:nth-child(2n) a{
	background-color: rgba(244,244,244,0.3);
}

ul.jspace-items li a:hover,
ul.jspace-categories li a:hover{
	background-color: #fff;
}

ul.jspace-items li a{
	background: transparent url(../images/item.png) left center no-repeat;
}



/* Pagination */
.jspace-pagination ul{
	list-style-type: none;
	padding:0px;
	margin:0px;
	display: inline-block;
}
.jspace-pagination ul li{
	display: inline-block;
	padding:3px;
}
.jspace-pagination ul li a{
	text-decoration: none;
}












